*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #container{
    border-radius: 10px;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 10px 20px 10px;
  
  }
  #tribute-info{
    padding: 25px;
    text-align: left;
    width: 600px;
    line-height: 30px;
  }
  #last{
    padding: 25px;
  }
  #img-caption{
    margin-top: 10px;
  }
  #imag{
    margin: 15px;
    max-width: 100%;
    height:auto;
    padding: 25px;
    /* width: 400px;  */
    /* display:block; */
    /* margin-left: 200px;   */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
  }
  h1{
    margin: 20px;
  }
  #image{
    max-width: 100%;
    display: block;
  }
  h4{
    margin: 10px;
  }