body{
    font-size: 1.5rem;
}
.block{
    width: 30vw;
    height: 30vw;
    background: #000;
    color: white;
    padding: 1rem;
}

.left{
    float: left;
    margin-right: 1rem;
}

.right{
    float: right;
    margin-left: 1rem;
}

.clear{
    clear: both;
}

section{
    background: bisque;
    border: 1px solid black;
    padding: 1rem; 
    /* overflow: auto; */
    /* nothinghappens */
    display: flow-root;
}

